body{
    background-color: rgb(112, 226, 228);
    padding: 15px;
    font-family: Verdana;
}

#title
{
    font-size: 36px;
    padding: 10px;
    border: 2px solid rgb(39, 38, 38);
    width: 320px;
    border-radius: 5px;
}

#todo-header
{
    font-size: 24px;
}

ul{
    list-style: none;
    padding-left:0;
    width: 250px;
}

li{
    color: rgb(17, 5, 87);
    background-color: rgb(12, 193, 238);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}